input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.faltuselectshow {
  border: 0px;
  outline: none;
}
.crncydiv select {
  border: 1px solid #e8e8ea;
  border-radius: 5px;
  font-size: 13px;
  height: 35px;
  width: 100%;
  padding: 5px 10px !important;
  margin-top: 10px;
}

.datepickerWrap .input-group-text,
.timepickerWrap .input-group-text {
  height: 35px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  color: #b4b4b4;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #e8e8ea;
}
.page_head .h33 {
  text-transform: capitalize;
}
.mbsc-ios.mbsc-calendar-button.mbsc-button {
  color: #4e73df !important;
}
.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
  border-color: #4e73df !important;
  background: #4e73df !important;
  color: #fff;
}
.mbsc-ios.mbsc-calendar-cell {
  padding: 1% 0 3% !important;
}
.mbsc-ios.mbsc-datetime-date-wheel .mbsc-scroller-wheel-item,
.mbsc-ios.mbsc-datetime-day-wheel .mbsc-scroller-wheel-item,
.mbsc-ios.mbsc-datetime-hour-wheel .mbsc-scroller-wheel-item {
  text-align: center !important;
}
.mbsc-ios.mbsc-scroller-wheel-line {
  background: rgba(0, 0, 0, 0.1);
  background-color: #aec2fe45;
}
.mbsc-ios.mbsc-scroller-pointer .mbsc-scroller-wheel-item.mbsc-selected {
  color: #4e73df !important;
  font-weight: 600;
}

.mbsc-ios.mbsc-calendar-controls {
  font-size: 19px;
}
.mbsc-datepicker .mbsc-calendar-week-days {
  font-size: 23px;
}
.mbsc-picker .mbsc-popup-content {
  padding: 0px 20px;
  height: 400px;
}
.datetimepicker56 .mbsc-popup-content {
  padding: 0px 20px;
  height: 260px !important;
}
.biggerdelete {
  font-size: 23px;
  line-height: 0px;
}
.details_field_1 .value,
.details_field_2 .value {
  white-space: normal !important;
  line-height: 19px;
}
.opportunityBox {
  width: 100%;

  font-family: 'VerdanaC',sans-serif !important;
  margin-bottom: 20px;
}
.opportunityBox .details_field_1 .key,
.opportunityBox .details_field_2 .key {
  line-height: 18px;
  height: auto !important;
}
.detail_div3 {
  background-color: #fff;
  padding: 4px 20px;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #f5f5f5;
}
.detail_div3 .created_date {
  line-height: 50px;
}
.new_plus_modal_foot {
  padding-bottom: 0px !important;
}
.detail_div2_with {
  background-color: #fff;
  padding: 16px 20px 0;
  border-radius: 0;
  padding-bottom: 16px !important;
}
.created_date {
  font-size: 11px;
  width: 250px;
}
.created_date span,
.value > span {
  color: #4e73df;
}
.detail_div2_with_B {
  border-top: 1px solid #f5f5f5;
  padding-bottom: 16px !important;
}
.linetable {
  line-height: 18px;
}
.detail_div1,
.crncydiv {
  display: flex;
  justify-content: space-between;
}
.crncydiv {
  margin-top: -15px;
  align-items: center;
}
.crncydiv label {
  font-weight: bold;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 12px;
  color: #2c3b49;
}
.crncydiv select {
  height: 35px;
}
.groupRows:hover {
  background-color: #fff !important;
}
.groupRows td {
  vertical-align: bottom !important;
}
.groupRows td button {
  margin-top: 10px;
}
.groupRows td button,
.groupRows td input {
  margin-bottom: 5px;
}
.groupRows td .search_button {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
}
.groupRows td .search_button span:first-child {
  padding-right: 2px;
}
.groupRows td:before {
  display: none !important;
}
.groupRows td:nth-child(3) {
  flex-direction: row !important;
}
.groupRows label {
  display: flex;
  align-items: center;
}
.grpdel,
.grpedit {
  border: none;
  font-size: 16px;
  background-color: transparent !important;
}
.actionRow td:last-child {
  flex-direction: row !important;
  align-items: center;
}
.actionRow td:before {
  display: none;
}
@media only screen and (max-width: 767px) {
  .actionRow td {
    display: inline-flex !important;
  }
}
@media only screen and (min-device-width: 451px) and (max-device-width: 767px) {
  .opportunity_table.quote_table .linetable tr.check_row td:before {
    min-width: 145px;
    padding-top: 12px;
  }
}
.grpedit,
.grpdel {
  color: #9e9e9e;
  display: inline-flex !important;
}
.grpdel:hover {
  color: #ec1717;
}
.grpedit:hover {
  color: #4e73df;
}
.grpdel {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  line-height: 0px;
  /* border: 0px; */
  background-color: rgb(239, 247, 248);
  font-size: 14px;
  font-weight: bold;
  margin-left: 2px;
}
.grpdel:hover {
  background-color: transparent;
}
.groupRow {
  background-color: #f3f3f3 !important;
  font-weight: bold;
}
.groupRow .actionRow .grpdel i {
  color: #b1b1b1;
  font-size: 18px;
}
.groupRow .actionRow .grpdel:hover i {
  color: #d4494d;
}
.groupRow .actionRow .grpedit:hover i {
  color: #495057;
}
.grpedit {
  color: black !important;
}
.grpdel {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  line-height: 0px;
  /* border: 0px; */
  background-color: rgb(239, 247, 248);
  color: #ec1717;
  font-size: 14px;
  font-weight: bold;
  margin-left: 2px;
}
.grpdel:hover {
  background-color: #fff;
}
.addmargin svg path {
  stroke: #4e73df;
}
div.addmargin {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-right: 12px;
  margin-left: auto;
}
.addmargin {
  /* margin-top: 10px;
    margin-bottom: 2px; */
  margin-left: 5px;
  width: min-content;
}
.detail_div1_with_tab {
  line-height: 25px;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  background-color: white;
  margin-top: 40px;
}
.opportunityTab.nav-pills .nav-link.active,
.opportunityTab.nav-pills .show > .nav-link {
  background-color: #4e73df;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.opportunityTab.nav-pills .nav-link {
  font-size: 13px;
  font-weight: 600;
  background-color: #4e73df;
}
.opportunityTab.nav-pills .nav-link {
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
  border: none;
}
.public-DraftStyleDefault-block {
  margin: 0.3em !important;
}
.notranslate {
  line-height: 22px !important;
  min-height: 100px;
}
@media (min-width: 992px) {
  .blank {
    margin-right: 50%;
  }
}
.saveBtn {
  font-size: 13px;
  line-height: 35px;
}
.rightAlign {
  text-align: right;
}
.rightBtnGroup {
  margin-top: 16px;
}
.detail_div2_with_tab {
  padding-bottom: 20px !important;
}
.summary_value {
  width: 100%;
}
.opportunity_table thead tr th:not(:first-child) .filter {
  min-width: 116px !important;
}
/* .filter{
  margin-left: 1px;
} */
.h4{
  font-weight: 600 !important;
}
.detail_div2_with_tab2 {
  padding-bottom: 20px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
.opportunity_table.quote_table thead th:nth-child(2) .filter {
  width: calc(100% + 21px);
  margin-left: -21px;
  padding-left: 21px;
}
.opportunity_table.quote_table > :not(caption) > * > * {
  border-bottom: none;
}

.icon_opportunity_mobile .act_icons {
  height: 21px;
  color: #b1b1b1;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.opportunity_table.quote_table .check_row td:last-child {
  text-align: center;
}
.oppo {
  height: 20px;
}
.opportunity_table thead tr th:nth-child(2) .filter {
  min-width: 220px !important;
}
.drag {
  cursor: move;
}
.drag:hover .fillBlue {
  fill: #495057;
}
.proService p {
  margin-bottom: 0;
  font-size: 11px !important;
  font-weight: normal !important;
  width: 100%;
}
.Gtotal_row {
  border-top: 1px solid #f8f9fc !important;
}
.total_wrap .span_title1 {
  font-size: 14px;
}

/* new add 05-01 */

.Gtotal_row .search_button {
  margin: 12px 4px 12px 8px;
}
.Gtotal_row .reset_button {
  margin: 12px 4px 12px 8px;
}

.total_wrap {
  display: flex;
  flex-direction: column;
}
.total_row .td_total_title2 p {
  flex-direction: column;
}
.total_wrap .span_title1 {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  padding-right: 30px;
  line-height: 20px;
  color: #4a535f;
}
.total_wrap .span_title1 i {
  position: absolute;
  top: 0px;
  right: 0px;
}
.total_wrap .span_title1 + span {
  font-size: 14px;
  white-space: nowrap;
}
.total_row1 {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 8px;
}

.total_row1 {
  background-color: #f5f5f5;
  padding: 4px 10px;
  border-radius: 8px;
  margin-bottom: 0px;
  display: block;
}

.total_row1_margin {
  background-color: #f5f5f5;
  padding: 4px 21px 4px 10px;
  border-radius: 8px;
  margin-bottom: 0px;
  display: block;
}
.total_row1_margin i.tooltip3 {
  right: -10px;
}
.detail_div2_with_tab2 .opportunity_table table th {
  background-color: #f3f4fb;
}
.detail_div2_with_tab2 .opportunity_table table th .filter {
  background-color: #f3f4fb;
  margin-top: 0;
  height: 12px;
}
.detail_div2.detail_div2_with_tab,
.detail_div2.detail_div2_with_tab2 {
  border-top: 2px solid #4e73df;
  margin-top: -1px;
}
.detail_div2_with_tab2
  .opportunity_table
  table
  tr
  td:nth-child(odd):not(:first-child) {
  background-color: #fafafa;
}
.detail_div2_with_tab2 .opportunity_table table tr:not(.groupRow):hover td {
  background-color: #f5fbff;
}
.detail_div2_with_tab2 .opportunity_table table .groupRow td {
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
  background-color: #f3f3f3 !important;
}
.detail_div2_with_tab2 .opportunity_table table tr.grand_total td {
  background-color: #fff !important;
}

.detail_div2_with_tab2
  .opportunity_table
  table
  tr:not(.grand_total)
  td:nth-child(6),
.detail_div2_with_tab2
  .opportunity_table
  table
  tr:not(.grand_total)
  td:nth-child(8),
.detail_div2_with_tab2
  .opportunity_table
  table
  tr:not(.grand_total)
  td:nth-child(6)
  input,
.detail_div2_with_tab2
  .opportunity_table
  table
  tr:not(.grand_total)
  td:nth-child(8)
  select {
  text-align: center;
}
.detail_div2_with_tab2
  .opportunity_table
  table
  tr:not(.grand_total)
  td:nth-child(8)
  select {
  padding-right: 0 !important;
}
.detail_div2_with_tab2
  .opportunity_table
  table
  tr:not(.grand_total)
  td:not(:nth-child(6), :nth-child(8), :nth-child(2), :first-child) {
  text-align: right;
  padding-right: 30px;
}
.detail_div2_with_tab2
  .opportunity_table
  table
  tr.check_row
  td:not(:nth-child(6), :nth-child(8), :nth-child(2)) {
  padding-right: 18px;
}
.detail_div2_with_tab2
  .opportunity_table
  table
  tr.check_row
  td:not(:nth-child(6), :nth-child(8), :nth-child(2))
  input {
  text-align: right;
}
.detail_div2_with_tab2 .opportunity_table table th:not(:nth-child(2)) {
  text-align: center;
}
.detail_div2_with_tab2 .opportunity_table table tr.check_row td:last-child,
.detail_div2_with_tab2 .opportunity_table table tr.grand_total td:nth-child(2) {
  white-space: nowrap;
}

.tooltip2 {
  display: inline;
  position: relative;
  opacity: 1;
  width: 120px;
}
.tooltip2:hover:after,
.tooltip3:hover:after {
  position: absolute;
  background: #fbfbfb;
  border: 0.5px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(52, 52, 52, 0.15);
  content: attr(data-tooltip);
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 5px;
  color: #2e425e;
  left: 0% !important;
  transform: translateX(-50%);
  top: 20px;
  white-space: nowrap;
  z-index: 10;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */

/*date picker */
.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(136 152 170 / 10%),
    0 15px 35px 0 rgb(49 49 93 / 10%), 0 5px 15px 0 rgb(0 0 0 / 8%);
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  display: block !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.old,
.bootstrap-datetimepicker-widget.dropdown-menu table td.new {
  color: #bbb;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
  border-bottom-color: #4e73df;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
  background-color: #e3eaff;
  text-shadow: none;
  color: #4e73df;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td span:hover {
  background-color: #e3eaff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu
  table
  td.active:hover.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu
  table
  td
  span.active.today:before {
  border-bottom-color: #4e73df;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  height: 36px;
  padding: 0;
  width: 40px;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th.picker-switch {
  width: 200px !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.day,
.datepicker td,
.datepicker th {
  height: 32px;
  line-height: 32px;
  padding: 0;
  width: auto;
  font-size: 13px;
}
.datepicker-days th,
.datepicker-days td {
  font-size: 13px;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.day:hover {
  background-color: #e3eaff;
  color: #4e73df;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td span {
  border-radius: 0;
  height: 77px;
  line-height: 77px;
  margin: 0;
  width: 25%;
  color: #4e73df;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-months tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-years tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  .datepicker-decades
  tbody
  tr
  td
  span {
  display: block;
  float: left;
  width: 50%;
  height: 46px;
  line-height: 46px !important;
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  .datepicker-decades
  tbody
  tr
  td
  span:not(.decade) {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
  padding: 0;
  width: 30%;
  height: 20px;
  line-height: 20px;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  .timepicker-picker
  table
  td:nth-child(2) {
  width: 10%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu
  .timepicker-picker
  table
  td
  button {
  border: none;
  border-radius: 0;
  height: 56px;
  line-height: 56px;
  padding: 0;
  width: 100%;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  .timepicker-picker
  table
  td
  span {
  color: #333;
  margin-top: -1px;
  text-align: center;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  .timepicker-picker
  table
  td
  button {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  .timepicker-picker
  table
  td
  button:hover {
  background-color: #e3eaff;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #e3eaff;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 100%;
}
.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
  border-bottom: none;
  font-size: 13px;
}
.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th:hover {
  background-color: #e3eaff;
  color: #4e73df;
}
.bootstrap-datetimepicker-widget.dropdown-menu table tr:nth-of-type(2) th {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  color: #4a535f;
  font-weight: 400;
}
.todayText:before {
  content: "Today";
  font-size: 13px;
}
.prev,
.next {
  display: block;
  visibility: visible;
}
.datepicker table tr td span.active.active {
  color: #fff;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  color: #fff !important;
  background-color: #4e73df !important;
  background-image: none !important;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background-color: #e3eaff !important;
  color: #4e73df !important;
  background-image: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th,
.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
  position: relative;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  table
  tr:first-of-type
  th:first-of-type:before {
  content: "\f100";
  
  font-family: 'VerdanaC',sans-serif !important;
  left: 14px;
  position: absolute;
  top: 8px;
}
.bootstrap-datetimepicker-widget.dropdown-menu
  table
  tr:first-of-type
  th:last-of-type:before {
  content: "\f101";
  
  font-family: 'VerdanaC',sans-serif !important;
  right: 14px;
  position: absolute;
  top: 8px;
}
.datepicker .prev,
.datepicker .next {
  font-size: 16px;
}

/* multi date picker */

#ui-datepicker-div {
  background-color: #fff;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(156, 39, 176, 0.4);
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  display: block !important;
}
.datepicker-days thead tr:last-child {
  border-bottom: 1px solid #ddd;
}
.datepicker-days thead tr:last-child th {
  font-weight: 400;
}
.datepicker td,
.datepicker th:not(.datepicker-switch) {
  width: 40px !important;
}
.datepicker thead tr:first-child th {
  font-weight: 600;
  height: 36px;
}
.datepicker .datepicker-switch {
  width: 200px !important;
}
/****************/
.datepickerWrap input,
.timepickerWrap input {
  width: auto !important;
  border: 1px solid #e8e8ea !important;
  border-radius: 5px;
  background-color: #fff !important;
}
.classb {
  margin-top: 0px !important;
  height: 33px !important;
}

span.input-group-text.classc {
  margin-top: 0px;
  /* line-height: -3px; */
  height: 33px;
}
.datepickerWrap .input-group-text,
.timepickerWrap .input-group-text {
  height: 35px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  color: #b4b4b4;
  cursor: pointer;
}
.datepickerWrap,
.timepickerWrap {
  min-height: 50px;
  align-items: center !important;
  flex-wrap: nowrap !important;
  padding: 0 !important;
}
.datepickerWrap .input-group-text:hover,
.timepickerWrap .input-group-text:hover {
  background-color: #e3eaff;
}
.datepickerWrap .input-group-text:hover .b4Svg,
.timepickerWrap .input-group-text:hover .b4Svg {
  fill: #4e73df;
}

.td_total_title2:before {
  display: none;
}
.Gtotal_row.total_row td:not(.td_total_title2) {
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.quote_table tbody td select {
  border: 1px solid #e8e8ea;
  border-radius: 5px;
  font-size: 13px;
  height: 35px;
  padding: 5px 10px !important;
}
.comment_input {
  position: relative;
  display: block;
  margin-top: -8px;
}
.comment_input span {
  position: absolute;
  top: 8px;
  right: 6px;
  padding-left: 10px;
  background-color: #fff;
}
.comment_input textarea {
  resize: both;
  min-height: 36px;
  height: 36px;
  margin-top:14px
}
.search_form_field input,
.comment_input input {
  padding-right: 20px;
}
/* .search_form_field input{
  width: 183px !important;
} */
.check_row .updt td button {
  margin-top: 10px;
}
.search_form_field.search_form_field02 {
  line-height: 35px;
}
.search_form_field.search_form_field02 span {
  width: 16px;
}
.check_row .search_form_field span{
	/* background-color: #fff; */
    display: block;
    height: 31px;
    line-height: 30px !important;
    top: -19px !important;
}
.check_row .addItem span{
  top:-5px !important
}
.check_row .searchIconReceipt{
  top:0px !important
}
.detail_div2_with label {
  line-height: 26px;
  margin-top: 10px;
}
.KeepSalesCheck {
  padding-top: 10px;
}
.opportunity_table {
  margin-bottom: 0;
}
.eventTextarea {
  display: block;
  position: relative;
}
.eventTextarea span {
  position: absolute;
  right: 7px;
  top: 5px;
}
.eventTextarea textarea {
  padding-right: 30px !important;
  margin-bottom: -10px;
}
.detail_div2_with .details_field_1 .key,
.detail_div2_with .details_field_2 .key {
  height: auto !important;
  margin-bottom: 10px;
}
.generate-pdf-container.date-picker {
  display: flex;
}
lable.generate-pdf.label {
  width: 50%;
  margin-top: 15px;
}
.generate-pdf.dropdown_input select {
  width: 100%;
  border: 1px solid #e8e8ea;
  border-radius: 5px;
  font-size: 13px;
  height: 35px;
  width: 100%;
  padding: 5px 10px !important;
  margin-top: 5px;
}
label.generate-pdf.label {
  width: 50%;
  margin-top: 10px;
}
.generate-pdf.dropdown_input {
  margin-bottom: 12px;
}
.generate-pdf-container.date-picker {
  margin-bottom: 12px;
  font-size: 13px;
}
.generate-pdf-container.date-picker .datepickerWrap .input-group-text,
.timepickerWrap .input-group-text {
  height: 35px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  color: #b4b4b4;
  cursor: pointer;
  margin-top: 10px !important;
  border: 1px solid #e8e8ea;
}
.generate-pdf-container.input.form-control.datetimepicker-input {
  font-size: 13px;
}
lable.generate-pdf.label,
label.generate-pdf.label {
  font-size: 13px;
  font-weight: 600;
}
input.form-control.datetimepicker-input {
  font-size: 13px;
}
.generate-pdf.dropdown_input {
  display: flex;
}
.detail_div2_with .details_field_1 .value,
.detail_div2_with .details_field_2 .value {
  height: auto !important;
  margin-bottom: 20px;
}
.btn-more {
  border-color: #4a535f !important;
}
.td_edit_product {
  line-height: 2px;
}

/*  popup  */
.opportunitiesBox {
  width: 559px;
  /* min-height: calc(100vh - 350px); */
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.opportunity-sm {
  display: flex;
  vertical-align: middle;
}
.shadows-box-sm {
  padding: 0 0px;
  width: 100%;
  /* White fe */

  background: #fefefe;
  /* shadow1 */

  /* box-shadow: 0px 4px 18px rgba(67, 67, 67, 0.25); */
  border-radius: 6px;
}

.tabToggleDiv {
  padding: 20px 20px 0 20px;
}
.popup-tab-content input {
  font-size: 13px;
  text-align: center;
}
hr {
  border-bottom: #b1aeae solid 1px;
  margin-top: 30px;
}
.popup-tab-content h5 {
  padding: 2px 0 0 20px;
  font-size: 14px;
  font-weight: 600;
}
.popup-tab-content th h5 {
  margin-bottom: 0;
}
.pillTable {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-wrap: wrap;
  padding-right: 20px;
}
.opportunity-sm .nav-pills {
  /*border: #0d6efd solid 2px;*/
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  /*width: 64.5%;*/
  color: #4a535f;
}
.opportunity-sm .nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0;
  color: #4a535f;
  font-size: 14px;
  border: #0d6efd solid 2px;
}
.opportunity-sm .nav-pills .nav-item:not(:last-child) .nav-link {
  border-right: none;
}
.opportunity-sm .nav-pills .nav-item:first-child .nav-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.opportunity-sm .nav-pills .nav-item:last-child .nav-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.button-Div {
  margin: 30px 20px;
  text-align: right;
}
.popup-tab-content .listGroup {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  margin: 0 20px 20px;
  border-radius: 5px;
}
.opportunity-sm .nav-pills .nav-link.active,
.opportunity-sm .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #4e73df;
}
.popup-tab-content .checkBox {
  margin-left: 20px;
  margin-bottom: 25px;
}
.popup-tab-content .list-group-item {
  position: relative;
  display: block;
  padding: 1.1rem 1rem;
  color: #4a535f;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.btnButton {
  color: #fff;
  background-color: #4e73df;
  border-color: #0d6efd;
  margin-left: 20px;
}
.btnButton:hover {
  background-color: #0d6efd;
  color: #fff;
}
.pillTable h4 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 600;
  padding-right: 8px;
}
.pillTable input {
  margin: 4px 8px 4px 0;
}
.popup-tab-content ul {
  list-style: none;
}
.stopUl ul {
  padding-left: 17px;
}
.flexLabel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.popup-tab-content input:not([type="radio"], [type="checkbox"]) {
  height: 30px !important;
  border: 1px solid #e8e8e8 !important;
}
.flexLabel input:not([type="radio"]) {
  margin-left: 15px;
  margin-right: 10px;
}
.popup-tab-content .list-group-item .form-check input[type="radio"] {
  margin-top: 9px;
}
.tabUl {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6px;
}
.tabBottomBtn button {
  font-size: 13px;
}
.yearSelect {
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.monthSelect select {
  margin-top: 4px;
  margin-bottom: 4px;
}
.tabHeadth1 {
  width: 140px;
}
.popup-tab-content .listGroup li ul {
  margin-bottom: 8px;
}
#RecurringModal .modal-body {
  padding: 0;
}
.popup-tab-content {
  font-size: 13px;
}
a.edit_btn {
  line-height: 2;
  text-align: center;
}
.btn.danger {
  color: #fff !important;
}
.modal_delete .modal-title.h4 {
  color: #dc3545;
}
#deleteModal .form-check {
  margin-bottom: 8px;
}
.search_form_field span {
  right: 6px !important;
  top: -1px !important;
}
.searchLineSpan {
  margin-top: 28px !important;
  background: transparent !important;
}
.exceptionDate {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  align-items: center;
  line-height: 28px;
  margin-top: 8px;
}
.exceptionDate span:first-child {
  padding-right: 8px;
}
.multiDatepicker {
  width: calc(100% - 67px) !important;
  border: 1px solid #e8e8ea;
  border-radius: 5px;
  font-size: 13px;
  height: 35px;
  padding: 5px 10px !important;
  margin-left: 8px;
}
.datepicker-dropdown.dropdown-menu {
  padding: 8px;
}
.total_row .td_total_title2 p {
  margin-top: 4px !important;
  margin-bottom: 0 !important;
  line-height: 26px !important;
}
.detail_div2_with_tab2 .opportunity_table table tr.check_row td:last-child {
  flex-direction: row !important;
}
.detail_div2_with_tab2
  .opportunity_table
  table
  th:not(:nth-child(2), :nth-child(6), :nth-child(8), :first-child) {
  text-align: right;
  padding-right: 14px;
}

.act_icons .tooltip {
  cursor: pointer;
}
.total_row1 {
  margin-bottom: 12px !important;
}
.detail_div2_with_tab {
  border-top: 2px solid #4e73df;
  margin-top: -1px;
}
.reset_button.addmargin {
  padding: 4px 5px;
  font-size: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.search_button.addmargin,
.reset_button.addmargin {
  margin-top: 10px;
}
.reset_button.addmargin.dview {
  margin-top: 0px;
}
.detail_div2_with_tab2
  .opportunity_table
  table
  tr:not(.grand_total)
  td:nth-child(8)
  select {
  width: auto;
}
.detail_div2_with_tab2 .opportunity_table table tr.grand_total td:nth-child(2) {
  vertical-align: middle;
}
.detail_div2_with_tab2 .opportunity_table table tr td:first-child,
.detail_div2_with_tab2 .opportunity_table table tr th:first-child {
  padding-right: 0 !important;
}

@media screen and (max-width: 992px) {
  .opportunitiesBox {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .opportunity-sm .nav-pills .nav-link {
    font-size: 12px;
    padding: 8px;
  }
}
@media (min-width: 576px) {
  #RecurringModal .modal-dialog {
    max-width: 559px;
  }
}

@media only screen and (max-width: 450px) {
  .td_total_title2 {
    flex-direction: column;
  }
  .detail_div2_with_tab2
    .opportunity_table
    table
    tr.check_row
    td:last-child:before {
    display: none;
  }
  div.addmargin {
    margin-left: 0;
  }
  .addGroupTd {
    margin: 12px 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 11px;
  }
  .td_total_title2 .total_wrap:nth-child(2) .total_row1 {
    margin-top: 18px;
  }
  .groupRow.actionRow {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1025px) {
  .td_edit_product {
    max-width: 210px !important;
  }
  .search_form_field input,
  .comment_input input {
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobile_visible_icons {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1025px) {
  .Gtotal_row.grand_total {
    display: contents;
  }
}
@media only screen and (max-width: 767px),
  (min-device-width: 320px) and (max-device-width: 767px) {
  .opportunity_table tbody tr:first-child {
    margin-top: 10px;
  }
  .opportunity_table tbody tr td {
    text-align: left !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: transparent !important;
  }
  .opportunity_table tbody tr.groupRow.actionRow td:first-child {
    display: none !important;
  }
  .detail_div2_with_tab2 .opportunity_table table .groupRow td {
    background-color: transparent !important;
    margin-top: 8px;
  }
  .detail_div2_with_tab2 .opportunity_table table tr.grand_total td:before {
    display: none;
  }
  .td_total_title2 .total_wrap:first-child .total_row1 {
    margin-right: 8px;
  }
  .detail_div2_with_tab2 .opportunity_table table tr.grand_total td {
    background-color: transparent !important;
  }
  .detail_div2_with_tab2 .opportunity_table table tr td {
    padding: 0;
  }
  .search_button.addmargin {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .icon_opportunity_mobile {
    min-width: calc(100% - 20px);
  }
  .icon_opportunity_mobile,
  .mobile_visible_icons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .drag {
    padding: 4px;
    margin-top: -2px;
  }
}
@media screen and (max-width: 767px) {
  .quote_table table tr td:first-child input[type="checkbox"] {
    margin-left: 10px;
  }
  .quote_table table tr td:first-child:before {
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 450px) {
  .detail_div2_with .details_field_1 .key,
  .detail_div2_with .details_field_2 .key {
    height: auto !important;
    margin-bottom: 10px;
  }
  .detail_div2_with .details_field_1 .value,
  .detail_div2_with .details_field_2 .value {
    height: auto !important;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 450px) {
  .quote_table table tr:not(.grand_total) td {
    flex-direction: column;
  }
  .quote_table table tr:first-child td input[type="checkbox"] {
    margin-left: 10px;
  }
  .opportunityTab.nav-pills .nav-link {
    font-size: 12px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.opportunity_table tr.check_row td[data-title="Discount"] {
  display: flex;
  flex-wrap: nowrap;
  border: 0px !important;
}
.opportunity_table tr.check_row td[data-title="Discount"] input {
  max-width: 55px;
  width: auto;
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.opportunity_table tr.check_row td[data-title="Discount"] select {
  max-width: 48px;
  width: auto;
  margin-right: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.opportunity_table.quote_table tbody tr td {
  vertical-align: top;
}

.comment_input input, .comment_input select{
	margin-top: 0px !important;	
	font-size: 11px !important;
}
.discount_cell select {
  /* width: min-content; */
}
.aiig_button {
  background: #0d6efd;
  border: 0px;
  border-radius: 5px;
  color: white;
  height: 25px;
  opacity: 0.8;
}
.aiig_button:hover {
  opacity: 1;
}
select.choose_select2.form-control.form-control-sm {
  width: -5px;
  font-size: 13px;
  height: 35px;
  width: 74%;
}

.deliverylocation_multiple_module {
  width: auto !important;
  position: absolute;
  left: 66.66%;
  margin-left: 4px;
  top: 45px;
}
.deliverylocation_multiple_loction {
  width: auto !important;
  position: absolute;
  left: 15.66%;
  margin-left: 6px;
  top: 90px;
}
@media screen and (max-width: 767px){
	.icon_opportunity_mobile .act_icons{
 		display: none;
	}
 }
 .mobile_visible_bgrmv .dropdown-toggle{
 	background-color: transparent!important;
    border-color: transparent !important;
    color: #ACACAC !important;
}
.mobile_visible_bgrmv .dropdown-toggle:focus,
.mobile_visible_bgrmv .dropdown-toggle:hover {
  color: #495057 !important;
}

.main {
  margin: 0 auto;
  padding: 0px 5px 5px 5px;
  /* width: 100%; */
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  margin-left: 0%;
}
.main h4 {
  border-bottom: #f5f5f5 solid 1px;
  padding: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.inner-main {
  display: flex;
  padding: 20px;
  margin: 0;
}
.button1 {
  border: 1px solid #4e73df ;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: 'VerdanaC',sans-serif !important;
  font-style: normal;
  font-weight: bold;
  color: #4a535f;
  font-size: 12px;
  outline: none;
  width: 195px;
  padding: 6px 10px;
  margin-bottom: 10px;
  text-align: left;
  margin-right: 10px;
  height: 35px;
}
.dbtn2 {
  margin-right: 10px !important;
}
.button2 {
  
  font-family: 'VerdanaC',sans-serif !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 15px;
  color: #ffffff !important;
  background-color: #4e73df !important;
  border-radius: 5px !important;
  padding: 7px 10px !important;
  margin-right: 10px !important;
  height: 35px;
  border: none;

}
.button2:hover {
  background-color: #183da9;
  color: #fff;
}
.button3 {
  color: #4f74df;
  background-color: #fff;
  /* border-color: #0d6efd; */
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  height: 35px;
  border: 1px solid  #0d6efd;
  border-radius: 5px;
}
.button3 i {
  font-size: 15px;
  margin-right: 2px;
}
.button3:hover {
  color: #183da9;
}
.btm-bg {
  background-color: #fbfbfb;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  width: 582px;
  height: 42px;
  margin: 0 20px 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.data-export {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.data-export i {
  color: tomato;
}
.data-export .delete i {
  color: #4a535f;
}
.data-export .delete i:hover {
  color: #dc3545;
  cursor: pointer;
}
.date-sm {
  display: flex;
}
.text1 {

  font-family: 'VerdanaC',sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #4a535f;
  padding: 5px 10px;
  line-height: 22px;
}
.text2 {
  color: #4a535f;
  font-size: 12px;
  padding: 5px 10px;
  line-height: 22px;
}
.delete {
  padding: 4px 13px;
  line-height: 20px;
}
/* .dropdown-toggle::after {
display: inline-block;
margin-left: 0.255em;
vertical-align: 0.255em;
content: "";
border-top: 0.3em solid;
border-right: 0.3em solid transparent;
border-bottom: 0;
border-left: 0.3em solid transparent;
position: relative;
right: -75px;
top: 2px;
} */
@media (max-width: 767px) {
  .btm-bg {
    width: 365px;
  }
}
@media (max-width: 426px) {
  .button1 {
    width: 105px;
  }
  .date-sm {
    display: flex;
    flex-wrap: wrap;
  }
  .inner-main {
    display: flex;
    flex-wrap: wrap;
  }
  .btm-bg {
    width: 352px;
  }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: relative;
    right: 4px;
    top: 2px;
  }
}
@media (max-width: 426px) {
  .btm-bg {
    width: 276px;
    display: flex;
    flex-wrap: wrap;
    height: 65px;
  }
  .date-sm {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 26px;
    top: -9px;
  }
  .delete {
    position: relative;
    right: -48px;
    top: -10px;
  }
}
.detail_icons li a :hover {
  cursor: pointer;
}

table.linetable td {
  vertical-align: top !important;
}
.discountwap.discountwap25 {
  right: -11px;
  top: 0;
}
.discount_cell.discount_cell2 {
  margin-top: 0;
  text-align: center;
}
.discount_cell.discountwap.discountwap25 {
    top: 10px;
    right: -18px;
}
.discountwap.discountwap25 input {
  position: relative;
  top: 9px;
}
.newsearch{
  margin-left: -75px;
  width: 218px !important;
}
.datepic1{
  margin-top: 10px;
}
.datepic2{
  margin-top: 0px !important;
  height: 33.5px;
}
#countyselection{
  top: 12px;
  height: 35px;
}
.css-8mmkcg{
  padding-bottom: 3px;
}
.css-1dimb5e-singleValue{
  font-size: 13px;
  margin-bottom: 25px !important;
}
.css-8mmkcg{
  padding-bottom: 3px;
}
.css-1u9des2-indicatorSeparator{
  width: 0px;
}
/* END */

.css-1hb7zxy-IndicatorsContainer{
  width: 35px;
  height: 35px;
}
.css-qbdosj-Input{
  height: 34px;
  padding-left: 0px;
  border-left-width: 10px;
  margin-left: 2px;
}
.css-1fdsijx-ValueContainer{
  height: 34px;
  bottom: 0px;
  top: 0px;
}
/* below three css are creating during build */
.css-hlgwow{
height:38px !important;
}
.css-19bb58m{
  height: 53px !important;
}


.css-13cymwt-control{
  height: 35px !important;
  min-height: 33px !important;
  /* color: #E8E8EA !important; */
  border-left-color: #E8E8EA !important;
  border-right-color: #E8E8EA !important;
  border-block-color: #E8E8EA !important;
}
.css-1nmdiq5-menu{
  line-height:9px;
}

.countyfield {
  margin-bottom: 22px !important;
  font-size: 16px !important;
}
.css-1jqq78o-placeholder{
  color: #000000 !important;
  font-size: 13px;
}
.groupcancelbtn{
  margin-left: 10px;
  width: 63.2px !important;
  height: 35.2px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}


/* @media screen and (width: 1680px)  {
  .searchBar {
    width: 277px !important;
    margin-left: 10px !important;
    margin-top: -1px !important;
   }
   .select_module{
    width:90px !important;
  }
}

@media screen and (max-width: 1848px) and  (min-width: 1800px)  {
.searchBar {
  width: 318px !important;
  margin-left: 100px !important;
 }
 .select_module{
  width:100px !important;
}
 
}
@media screen and (max-width: 2058px) and  (min-width: 1850px)  {
  .searchBar {
    width: 349px !important;
    margin-left: 120px !important;
   }
   .select_module{
    width:120px !important;
  }
}
@media screen and (max-width: 2350px) and  (min-width: 2059px)  {
  .searchBar {
    width: 395px !important;
    margin-left: 140px !important;
   }
   .select_module{
    width:130px !important;
  }
}
@media screen and (max-width: 2465px) and  (min-width: 2351px)  {
  .searchBar {
    width: 430px !important;
    margin-left: 140px !important;
   }
   .select_module{
    width:130px !important;
  }
}
@media screen and (max-width: 2775px) and  (min-width: 2466px)  {
  .searchBar {
    width: 490px !important;
    margin-left: 160px !important;
   }
   .select_module{
    width:150px !important;
  }
} */
.css-1jqq78o-placeholder{
  color: #000000 !important;
  font-size: 13px;
}
.groupcancelbtn{
  margin-left: 10px;
  width: 63.2px !important;
  height: 35.2px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.editGroupName{
  margin-right: 5px !important;
}
.editGroupNameCancel{
  width: 61px !important;
    padding-left: 18px!important;
    padding-right: 18px !important;
}
#react-select-2-input{
  width: 250% !important;
  margin-left: 13px !important;
}
#react-select-4-input{    
  width: 250% !important;    
  margin-left: 13px !important;
}
.searchBar{
  margin-left: -14px !important;
  margin-top: -2px !important;
}
#react-select-3-input{    
  width: 250% !important;    
  margin-left: 13px !important;
}
#react-select-6-input{    
  width: 250% !important;    
  margin-left: 13px !important;
}
.search_form_field span.search-icon-142{
  top:0 !important;
}

.search_form_field span.c-search-icon-142{
  top:-5px !important;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.checkboxx .tooltip {
  visibility: hidden;
  width: 180px;
  background-color:#fbfbfb;
  color:#2e425e;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 400%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip4{
  margin-left: -154px;
  margin-bottom: 10px;
  cursor: pointer;
}
