@import '../../assets/common-style/variable.scss';



.EventManagementPage_main {
    margin-top: 2.5em;
    padding-left: inherit;
    padding-right: inherit;
    height: calc(100vh - 90px);
    overflow-y: auto;
    padding-bottom: 30px;

    @media (max-width:1700px) {
        height: calc(100vh - 66px);
    }

    @media (max-width:770px) {
        height: calc(100vh - 110px);
    }

    &::-webkit-scrollbar {
        width: 5px; 
    }

    &::-webkit-scrollbar-thumb {
        background: $Primary;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        @media (max-width:770px) {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }

    .heading_create {
        display: flex;
        padding-left: 13px;
        padding-right: 30px;
        margin-top: 58px;
        padding-bottom: 50px;
        align-items: center;

        @media (max-width:1024px) {  
            align-items: flex-end;
            flex-wrap: wrap;
        }
        @media (max-width:425px) {
            padding-left: 0;
            padding-right: 0;
        }

        .heading_otr {
            display: flex;
            align-items: center;
            gap: 96.54px;

            @media (max-width:1700px) {
                gap: 72.41px;
            }

            @media (max-width:770px) {
                align-items: flex-start;
                flex-direction: column;
                gap: 14px;
            }

            .tag_button {
                height: 35px;
                background-color: #4e73df !important;
                font-family: 'VerdanaC', sans-serif !important;
                font-size: 12px !important;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                vertical-align: middle;
                border-radius: 5px;
                padding-left: 18px;
                padding-right: 18px;
                border: 2px solid #4e73df;
                line-height: 1;

                @media (max-width:420px) {
                    font-size: 12px;
                    padding: 8px 10px;
                }
            }
        }

        .page_heading {
            margin: 0 20px 0 0; 

            @media (max-width:1024px) {  
                width: 100%;
                margin-bottom: 36px;
            }
        }

        .create_icons {
            display: flex;
            align-items: center;
            gap: 24.14px;
            margin-left: auto;

            @media (max-width:1700px) {
                gap: 18.1px;
            }

            @media (max-width:770px) {
                gap: 6.59px;
            }

            .icon_otr {
                display: flex;
                background-color: transparent;
                border: none;
                padding: 0;
                cursor: pointer;

                .user_icon {
                    width: 36.2px;
                    height: 36.2px;
                    object-fit: contain;
                    object-position: center;

                    @media (max-width:1700px) {
                        width: 27.15px;
                        height: 27.15px;
                    }

                    @media (max-width:770px) {
                        width: 25.08px;
                        height: 25.08px;
                    }
                }
            }

            .create_btn {
                background-color: #4E73DF;
                min-width: 156px;
                height: 35px;
                color: #ffffff;
                font-size: 12px !important;
                font-weight: bold;
                font-family: $font-family-Normal;
                border: 0px;
                border-radius: 5px;
                line-height: 100%;
                text-transform: capitalize;
                padding: 0;

                .plus_icon {
                    color: #ffffff !important;
                    font-size: 16px;
                    margin-right: 5px;

                }  

                @media (max-width:380px){
                    min-width: auto;
                    padding: 0 10px;
                }
            }

            .date_picker_otr {
                .react-datepicker__input-container {
                    .callender_icon {
                        width: 36px;
                        height: 36px;
                        object-fit: contain;
                        object-position: center;
                        padding: 0;

                        @media (max-width:1700px) {
                            width: 26px;
                            height: 26px;
                        }

                        @media (max-width:770px) {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    input {
                        position: relative;
                        z-index: 2;
                        width: 36px;
                        height: 36px;
                        color: transparent;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;

                        @media (max-width:1700px) {
                            width: 26px;
                            height: 26px;
                        }

                        @media (max-width:770px) {
                            width: 24px;
                            height: 24px;
                            padding: 0;
                        }

                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }

                    button {
                        display: none;
                    }
                }
            }

            button.dropdown-item {
                padding: 0;
            }

            .dropdown-menu {
                padding: 0;
                min-width: 300px;
                border: 0;
                border-radius: 8px;
              

                @media (min-width:568px){ 
                    transform: none !important;
                    top: 38px !important;
                }
            }

            .filterMenu_wrap {
                min-height: 100px;
                max-height: 218px; 
                overflow: hidden;
                overflow-y: auto;
                padding: 0.7em;

                .dropdown-item {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ACACAC !important;
                    padding-top: 10px;

                    .profile_otr {
                        display: flex;
                        align-items: center;

                        .profile_box {
                            display: flex;
                            align-items: center;

                            .profile_img {
                                height: 44px;
                                width: 44px;
                                border-radius: 34px;
                                object-fit: cover;
                                object-position: center;
                            }

                            .profile_text {
                                padding-left: 15px;

                                .user_name {
                                    margin-bottom: 0;
                                    font-size: 14px;
                                    font-family: $font-family-Normal;
                                    font-weight: 700;
                                    line-height: 1.5;
                                }

                                .user_post {
                                    margin-bottom: 0;
                                    margin-top: 5px;
                                    line-height: 1.5;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 15px;
                                    color: #495057;
                                    font-family: $font-family-Normal;
                                }
                            }
                        }

                        .checkbox_wrap {
                            margin-left: auto;

                            img {
                                height: 24px;
                            }
                        }
                    }

                }
            }
        }
    }

    .post_row_custom {
        display: flex;
        align-items: stretch;

        .post_cards_otr {
            width: 100%;
            padding: 10px 8px;
            background-color: #F8F9FC;
            min-height: 100vh;

            &:not(:last-child) {
                border-right: 1px solid $Border-color;
            }
        }
    }
}