@import '../common-style/variable.scss';

.date_picker_otr{
    .react-datepicker__input-container{
        .callender_icon{
            width: 36.2px;
            height: 36.2px;
            object-fit: contain;
            object-position: center;
            padding: 0;
            @media (max-width:1700px) {
                width: 27.15px;
                height: 27.15px;
            }
            @media (max-width:770px) {
                width: 25.08px;
                height: 25.08px;
            }
        }
        input{
            position: relative;
            // z-index: 999;
            width: 36.2px;
            height: 36.2px;
            color: transparent;
            background-color: transparent;
            border: none;
            cursor: pointer;
            @media (max-width:1700px) {
                width: 27.15px;
                height: 27.15px;
            }
            @media (max-width:770px) {
                width: 25.08px;
                height: 25.08px;
            }
            &:focus{
                border: none;
                outline: none;
            }
        }
        button{
            display: none;
        }
        
    }
    .react-datepicker-popper{
        z-index: 99;
    }
}

