@import '../../assets/common-style/variable.scss';


.profile_otr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    // gap: 10.17px;
    // padding: 10.17px 15.25px;
    border-bottom: 0.64px solid $Border-color2;
    @media (max-width:1700px){
        // padding: 7.62 11.44px;
        gap: 7.62px;
        border-bottom: 0.48px solid $Border-color2;
    }
    @media (max-width:770px){
        gap: 12.93px;
        padding: 12.93px 19.39px;
        border-bottom: 0.81px solid $Border-color2;
    }
    .profile_img{
        width: 40.66px;
        height: 40.66px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        object-fit: cover;
        @media (max-width:1700px){
            width: 30.5px;
            height: 30.5px;
        }
        @media (max-width:770px){
            width: 51.72px;
            height: 51.72px;
        }
    }
    .profile_text{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        .user_name{
            font-size: 15px;
            font-family: $font-family-Bold;
            line-height: 19px;
            color: $Black;
            margin-bottom: 0;
            @media (max-width:1700px){
                font-size: 11px;
                line-height: 14px;
            }
            @media (max-width:770px){
                font-size: 19px;
                line-height: 24px;
            }
        }
        .user_post{
            font-size: 13px;
            font-weight: 400;
            line-height: 15px;
            color: $Text-color2;
            margin: 0;
            @media (max-width:1700px){
                font-size: 10px;
                line-height: 12px;
            }
            @media (max-width:770px){
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .profile_box{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
#dropdown-autoclose-outside{
    border: 0 !important;
    padding: 0;
    margin: 0;
    background: #f8f9fc;
    height: auto;
    img{
        background-color: #f8f9fc;
    }
}

#dropdown-autoclose-outside:after{
    border: 0;
    background-color: #f8f9fc;
    margin: 0;
}
.create_icons .dropdown-item:focus, .create_icons .dropdown-item:hover, .create_icons .dropdown-item:active{
    background-color: inherit !important;
}
.event_action_btn{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    justify-content: flex-end;
    background-color: #fff;
    width: 100%;
    padding: 10px 10px 5px;
    padding-left: 50%;
    .btn{
        font-weight: normal;
        font-size: 12px;
        background-color: #fff;
        border-color: #4e73df;
        color: #4e73df;
        margin: 0 2px;
    }
    .save_btn{
        background-color: #4e73df;
        border-color: #4e73df;
        color: $White;
    }
}