@import '../../assets/common-style/variable.scss';


 
#dropdown-autoclose-outside{
    border: 0 !important;
    padding: 0;
    margin: 0;
    background: #f8f9fc;
    height: auto;
    img{
        background-color: #f8f9fc;
    }
}

#dropdown-autoclose-outside:after{
    border: 0;
    background-color: #f8f9fc;
    margin: 0;
}
.create_icons .dropdown-item:focus, .create_icons .dropdown-item:hover, .create_icons .dropdown-item:active{
    background-color: inherit !important;
}
.event_action_btn{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-end;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    padding-left: 50%;
    .btn{
        font-weight: normal;
        font-size: 12px;
        background-color: #fff;
        border-color: #4e73df;
        color: #4e73df;
        margin: 0 2px;
        border-width: 2px;
        &:hover {
            color: #4e73df;
            background-color: #ffffff;
            border-color: #4e73df;
            opacity: 0.8;
        }
    }
    .save_btn{
        background-color: #4e73df;
        border-color: #4e73df;
        color: $White; 
        &:hover {
            background-color: #4e73df;
            border-color: #4e73df;
            color: $White; 
            opacity: 0.8;
        }
    }
}