/*=====================================
        Color Variable's
=====================================*/

$Primary: #4E73DF;
$Secondary: rgba(246, 166, 9, 0.70);
$White: #FFFFFF;
$Black: #000000;
$Text-color: #495057;
$Text-color2: #747688;
$Text-color3: #5A5C69;
$Light-Bg: #F8F9FC;
$Light-Bg2: #F3F4F9;
$Light-Bg3: #E8E8EA;
$Border-color: #E6E6E6;
$Border-color2: #E8E8EA;
$Border-color3: #D5DBE1;
$Border-color4: #6F707C;

/*=====================================
        Font Size Variable's
=====================================*/

$font-size-25px: 25px;

/*=====================================
        Line Height Variable's
=====================================*/

$line-height-30px: 30px;

/*=====================================
        Font Family Variable's
=====================================*/

$font-family-Inter-Bold: "Inter-Bold";
$font-family-Bold: "Verdana-Bold";
$font-family-Normal: "Verdana";