  @font-face {
    font-family: 'VerdanaC';
    src: local('VerdanaC'), url('./assets/Verdana-Font/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VerdanaC';
    src: local('VerdanaC'), url('./assets/Verdana-Font/verdanab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VerdanaC';
    src: local('VerdanaC'), url('./assets/Verdana-Font/verdanai.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'VerdanaC';
    src: local('VerdanaC'), url('./assets/Verdana-Font/verdanaz.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  

body {
    background-color: #f8f9fc!important;
    font-family: 'VerdanaC',sans-serif !important;
}