@import "../common-style/variable.scss";
/* Add your other CSS rules as needed */

// .event-container {
//   height: 480px;
//   background-color: #ffffff;
//   color: #000000;
//   border-collapse: separate;
//   display: flex;
//   flex-direction: column;
//   border-top: 4px solid #5669ff;

//   .event-title {
//     padding: 0.75rem 0.5rem;
//     border-bottom: 0.635px solid rgba(0, 0, 0, 0.24);
//     .event-title-main {
//       display: flex;
//       justify-content: space-between;
//       align-items: flex-start;
//       .title-heading{
//         font-size: 1.125rem;
//         font-weight: 600;
//         display: flex;
//       }
//     }
//   }
// }

.event-container {
  height: 480px;
  width: 95%;
  background-color: #f3f4f9;
  color: #000000;
  border-collapse: separate;
  display: flex;
  flex-direction: column;
  border-top: 4px solid #5669ff;
  
  .event-title {
    padding: 0.75rem 0.5rem;
    border-bottom: 0.635px solid rgba(0, 0, 0, 0.24);
    .event-title-main {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .title-heading {
        font-size: 1.125rem;
        font-weight: 600;
        display: flex;
      }
    }
  }
  // & .event-title {
  //   & .event-title-main {
  //     & .title-heading {
  //       font-size: 1.5rem; /* You can adjust the font size accordingly */
  //     }

  //     & p {
  //       background-color: rgba(246, 166, 9, 0.7);
  //       padding-top: 3px;
  //       padding-right: 2px;
  //       border-radius: 8px;
  //     }
  //   }
  // }

  //   & .event-time {
  //     display: flex;
  //     align-items: center;

  //     & svg {
  //       width: 26px;
  //       height: 26px;
  //     }

  //     & p {
  //       color: black;
  //     }
  //   }

  //   & .event-location {
  //     display: flex;
  //     justify-content: start;
  //     align-items: center;

  //     & svg {
  //       width: 20px;
  //       height: 20px;
  //     }

  //     & p {
  //       margin-left: 5px;
  //     }
  //   }

  //  .event-manager {

  //   & .event-manager-info {
  //     display: flex;
  //     gap: 2px;

  //     & .font-bold {
  //       font-weight: bold;
  //     }

  //     & .text-slate-500 {
  //       color: #6b7280;
  //     }
  //   }
  // }

  // & .event-info {

  //   & .event-info-logo {
  //     width: 8px;
  //     height: 8px;
  //     object-fit: contain;
  //   }
  // }

  // & .event-extra-info {

  //   & .extra-info-name {
  //     display: flex;
  //     justify-content: around;
  //     align-items: center;

  //     & pre {
  //       white-space: pre-wrap;
  //     }
  //   }
  // }

  // & .event-sales-profite {

  //   & .event-sales {
  //     &.border-r-2 {
  //       border-right-width: 2px;
  //     }
  //   }
  // }
}
